<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="dist/o-svelte-wc.js" type="module"></script>
  </head>
  <body>
    <o-forms label="fruits">
      <o-multi-select slot="o-forms-input">
        <span class="o-multi-select" data-o-component="o-multi-select">
          <select name="fruits" id="fruits" multiple>
            <option value="Apple">Apple</option>
            <option value="Banana">Banana</option>
            <option value="Blueberry">Blueberry</option>
            <option value="Boysenberry">Boysenberry</option>
            <option value="Cherry">Cherry</option>
            <option value="Durian">Durian</option>
            <option value="Eggplant">Eggplant</option>
            <option value="Fig">Fig</option>
            <option value="Grape">Grape</option>
            <option value="Guava">Guava</option>
            <option value="Huckleberry">Huckleberry</option>
          </select>
        </span>
      </o-multi-select>
    </o-forms>
  </body>
</html>
